body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: salmon; */
    align-items: center;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5; /* keep it above background stuff */
}
.header ul{
    list-style-type: none;
    display: flex;
    /* background-color: aqua; */
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.header{
    position: relative;
    z-index: 10;
}
.header a {
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
    font-weight: bold;
}

.tshirt-preview {
    position: relative;
    z-index: 1;
    width: 645px;
    height: 689px;
    border: 2px solid blue;
  }

#shirtBase,
#designOverlay {
    position: absolute;
    top: 100px;
    left: 0px;
    /* width: 645px;
    height: 689px; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
  }

/* #shirtBase {
    position:absolute;
    border: 2px solid red;
    z-index: 1;
  }

#designOverlay {
    position: absolute;
    border: 2px solid blue;
    z-index: 2;
    pointer-events: none;
  } */

#shirtSelect
#designSelect {
    position: relative;
    z-index: 10;
}