body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.header{
    position: relative;
    z-index: 10;
}
.header a {
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
    font-weight: bold;
}

.dropdown {
    z-index: 2;
}

#shirtBase {
    position: relative;
    top: 0px;
    left: 0px;
    width: 645px;
    height: 689px;
    z-index: 1;
  }

  #designOverlay {
    position: absolute;
    z-index: 2;
  }

.color-select 
button {
    padding: 10px;
}
