body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.header{
    position: relative;
    z-index: 10;
}
.header a {
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
    font-weight: bold;
}

.dropdown {
    z-index: 2;
}
.shirt-preview {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 645px;
    height: 689px;
}
#shirtBase {
    position: absolute;
    top: 0;
    left: 0px;
    width: 645px;
    height: 689px;
    z-index: 2;
  }

  #designOverlay {
    position: absolute;
    top: 0;
    z-index: 2;
  }

.color-select 
button {
    padding: 10px;
}

.color-select {
    display: flex;
    width: 300px;
    gap: 5px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#shirtLabel {
    text-align: center;
    font-weight: bold;
}

.dropdown {
    text-align: center;
    margin: 10px;
}

#designSelect {
    text-align: center;
}

.main-design {
    display: flex;
}

.main-compare {
    display: flex;
    flex: 1;
}